* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  word-wrap: break-word;
}
html,
body {
  background: #fff;
}
html,
body,
.container,
.articles {
  height: 100%;
}
body {
  color: #444;
  font: 300 13px/15px freight-text-pro, Georgia, serif;
  margin: 0 auto;
}
p {
  hyphenate: auto;
  hyphenate-before: 2;
  hyphenate-after: 3;
  hyphenate-lines: 3;
  orphans: 4;
  text-rendering: optimizelegibility;
}
a {
  -moz-transition: color .25s,border .15s,color .15s,background .15s;
  -webkit-transition: color .25s,border .15s,color .15s,background .15s;
  transition: color .25s,border .15s,color .15s,background .15s;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}
a:link,
a:visited,
a:active {
  color: #333;
}
a:hover {
  border-bottom-color: #ccc;
  color: #666;
}
.hidden {
  display: none;
}
article,
.splash,
.content {
  height: 100%;
}
.splash {
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  position: relative;
}
.content p {
  background: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  line-height: 24px;
}
.content p:first-child {
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-gap: 1em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  padding: 30px;
}
.content nav {
  padding: 30px;
  position: absolute;
  bottom: 0;
  line-height: 22px;
  width: 100%;
}
.content nav a {
  color: #999;
  display: block;
  width: 50%;
}
.content nav b {
  color: #444;
}
.content nav .older:before,
.content nav .newer:after {
  content: "\2039\00a0";
  font-size: 48px;
  position: relative;
  bottom: -7px;
}
.content nav .older {
  float: left;
}
.content nav .older:before {
  content: "\2039\00a0";
}
.content nav .newer {
  float: right;
  text-align: right;
}
.content nav .newer:after {
  content: "\00a0\203a";
}
time {
  color: #999;
  display: block;
  font-size: 12px;
  padding: 0 30px 30px;
  text-align: right;
}
h1 {
  font: 600 28px/26px peruse, sans-serif;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  left: 15px;
  width: 23%;
}
h1 em {
  color: #333;
  text-align: center;
  font: italic 400 18px/26px Baskerville, Georgia, serif;
  position: relative;
  top: -5px;
  left: -11px;
}
h2 {
  font: 600 48px/48px brandon-grotesque, sans-serif;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}
h2 span {
  -moz-transition: 0.1s opacity ease-in-out;
  -webkit-transition: 0.1s opacity ease-in-out;
  transition: 0.1s opacity ease-in-out;
  display: block;
}
.splash {
  display: table;
  width: 100%;
}
.splash h2 {
  background: rgba(0, 0, 0, 0.1) url(../img/grain.png);
  color: #fff;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
  
}
.lovelies {
  column-count: 4;
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-gap: 1em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  list-style: none;
  margin: 0;
  padding: 0 30px;
}
.lovelies li:before {
  color: #c00;
  content: "♥ \00a0";
  font-size: 8px;
  position: relative;
  top: -1px;
}
a.donate {
  color: #666;
  padding: 30px;
}
a.donate:before {
  color: #0c0;
  content: "♥ \00a0";
  font-size: 12px;
  position: relative;
  top: -1px;
}
.price {
  color: #373;
}
a.big {
  border: 0;
  display: block;
}
a.big span {
  border-bottom: transparent 1px solid;
  display: inline-block;
}
a.big:hover span {
  border-bottom-color: #ccc;
}
